/* Manik bg color for body */
body {
    background-color: #e9ecef;
}

.sub-headers {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.inline-display {
    padding: 5px;
}

#players-container {
    text-align: center;
    border: 3px solid green;
    border-radius: 25px;
    padding: 10px 10px 10px;
}
table.table1 {margin: 0 auto;}
table.table1 tr {text-align: center;
                font-weight: bold;
                }
table.table1 td {text-align: center;
                }

table,
th,
td {
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    display: none;
}

img.emoji {
    display: inline;
    height: 1em;
    width: 1em;
    margin-bottom: 0.25em;
}


[type='submit'].button2 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: 7px;
    margin-right: 7px;
}

.error {
    color: red
}

.center-content {
    text-align: center;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.main-header {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

.for-nick {
    color: pink;
}

.checkbox-padding {
    padding: 5px;
}

#responsiveCard {}

#responsiveContent {}

@media screen and (max-width: 320px) {

    /* comes into effect for screens less than or equal to 320 pixels */
    #responsiveCard {
        width: 200px;
        position: relative;
        display: -ms-flexbox;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.25rem;
    }

    #responsiveContent {
        display: block;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {

    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    #responsiveCard {
        width: 300px;
        position: relative;
        display: -ms-flexbox;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.25rem;
    }

    #responsiveContent {
        display: block;
    }
}

@media screen and (min-width: 481px) {

    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    #players-container {
        text-align: center;
        border: 3px solid green;
        border-radius: 25px;
        padding: 10px 10px 10px;
        margin: auto;
        width: 600px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 125px;
        height: 125px;
    }
}

.column {
    float: left;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}

/* Css for the profile page */

.user {
    /* make image center */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;

    position: relative;
    
}

.profile img {
    height: 80px;
    width: 80px;
    margin-top: 2px
}

.profile {
    position: absolute;
    top: -50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border-radius: 50%
}

.leauge-btn {
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px
}

.stats span {
    font-size: 29px
}