{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <br/>
      {% for msg in messages %}
        <p class="sub-headers">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if isRankedEnabled == 1 %}
    <form action="admin" method="post">
      <input type="submit" name='action' value="Turn off ranked game mode">
    </form>
  {% else %}
    <form action="admin" method="post">
      <input type="submit" name='action' value="Turn on ranked game mode">
    </form>
  {% endif %}
  <hr>
  <form action="admin" method="post">
    Enter the new leaderboard header : &nbsp;<input type="text" name="newHeader" /><br>
  <input type="submit" name='action' value="Submit">
  </form>
  <hr>
  <form action="admin" method="post">
    Enter new Username : &nbsp;<input type="text" name="username" /><br>
    Enter new Email : &nbsp;<input type="text" name="email" /><br>
  <input type="submit" name='action' value="Add">
  </form>
  <hr>
  <form action="admin" method="post">
    Enter the username to delete : &nbsp;<input type="text" name="userToDelete" /><br>
  <input type="submit" name='action' value="Delete">
  </form>
  <hr>
  <form action="admin" method="post">
    <input type="submit" name='action' value="Reset ranked game participations">
  </form>

{% endblock %}