<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Info Display Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename = 'css/render_json.css')}}" rel="stylesheet" >
    <link rel="shortcut icon" href="http://www.iconj.com/ico/n/g/ngz4vimbrv.ico" type="image/x-icon" />
    

</head>

<body>
        <h1> {{ page_title }} </h1>
        <p id="json_display_dota_or_movie"></p>
        <p id="json_display_news"></p>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/render_json.js')}}"></script>
        <script type="text/javascript">
            load_json({{ payload | tojson | safe }})
        </script>
        <h3> {{ info_source}} </h3>
        <p> <b>Click below to go to homepage</b> </p>
        <form action="{{ url_for('index') }}" method="post">
        <input type="submit" value="submit">
        </form> 

</body>
</html>