{% extends "base.html" %}
{% block title %}Hall of Fame{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <br/>
      {% for msg in messages %}
        <p class="sub-headers">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <br/>
  <p class="sub-headers">Season Tournament Winners</p>
  <div id="players-container">
    <table class="table1">
      <tr>
        <th>Season</th>
        <th>Winner</th>
        <th>Highlight</th>
      </tr>
      <tr>
        <td>I</td>
        <td><span style="color:blue; font-weight: bold; font-style:italic">Lee Futter</span></td>
        <td>First tournament in our new building. Lee defeats Fred 4-2 on the Final!</td>
      </tr>
      <tr>
        <td>II</td>
        <td><span style="color:blue; font-weight: bold; font-style:italic">Gordon Gilbertson</span></td>
        <td>Gordon defeats Daniel 4-2!</td>
      </tr>
      <tr>
        <td>III</td>
        <td><span style="color:blue; font-weight: bold; font-style:italic">Josh Mueller</span></td>
        <td>Josh makes amazing return from 1-3 to 4-3 against Lee!</td>
      </tr>
      <tr>
        <td>IV</td>
        <td><span style="color:blue; font-weight: bold; font-style:italic">Fred Lee</span></td>
        <td>Jordan Dean upsets against Ben Barham. Fred wins Lee 4-3!</td>
      </tr>
    </table>
  </div>

{% endblock %}