{% extends "base.html" %}
{% block title %}Index page{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if "user" not in session %}
  <form action="login" method="post">
    Enter Username : &nbsp;<input type="text" name="username" /><br>
    Enter Email : &nbsp;<input type="email" name="email" /><br>
    <input type="submit" value="Log In">
  </form>
  <form action="signup" method="get">
    <input type="submit" value="Sign Up">
  </form>
  {% else %}
  <p>You are currently logged in as {{ session["user"] }}</p>
  <form action="logout" method="get">
    <input type="submit" value="Log Out">
  </form>
  {% endif %}

  

{% endblock %}