{% extends "base.html" %}
{% block cssOverride %}<link rel="stylesheet" type="text/css" href="../static/css/custom.css">{% endblock %}
{% block title %}Main Dashboard{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <br/>
      {% for msg in messages %}
        <p class="sub-headers">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

<br/>

  {% if currentQueue|length == 0 %}
    <div>
      <p class="sub-headers center">There is no current match going on.</p> 
    <div>
  {% elif currentQueue|length > 0 %}
    <p class="sub-headers">Currently playing:</p>
    <div class="players-container">
	  <p><strong>{{ currentQueue[0][0] }}</strong> vs. <strong>{{ currentQueue[0][1] }}</strong></p>
      <form action="{{ url_for('main') }}" method="post">
        <div class="players-list">
        <input class="player" type="hidden" value={{ currentQueue[0][0] }} name="firstCurrentPlayer" readonly>
        <input class="player" type="hidden" value={{ currentQueue[0][1] }} name="secondCurrentPlayer" readonly>
        </div>
        <!-- <input type="submit" name="action" value="Game over, Notify next players in Queue"/> -->
		    <input type="submit" name="action" value="Game over"/>
      </form>
	  <form action="{{ url_for('main') }}" method="post">
	  
    </div>
    <br/>

  {% endif %}
  {% if currentQueue|length == 1 %}
    <p class="sub-headers">There is no current queue.</p>
  {% else %}
    <p class="sub-headers">Current Queue:</p>
    <div class="players-container">
    {% for i in range(1,currentQueue|length) %}
		<form action="{{ url_for('main') }}" method="post">
			<input class="player" type="hidden" value={{ currentQueue[i][0] }} name="firstPlayerInQueue" readonly>
			<input class="player" type="hidden" value={{ currentQueue[i][1] }} name="secondPlayerInQueue" readonly>
			<input class="player" type="hidden" value={{ i }} name="currentIteration" readonly>
			<label for="Delete"><strong>{{ currentQueue[i][0] }}</strong> vs. <strong>{{ currentQueue[i][1] }}</strong>&emsp;</label>
			<input type="submit" name="action" value="Delete"/>
		</form>
    {% endfor %}
  </div>
  {% endif %}

  <br/>
  <p class="sub-headers">Add the Match</p>
  <div class="players-container">
    <form action="{{url_for('main')}}" method="post">
      <label for="firstPlayer"><strong>Player 1: </strong></label>
      <select name="firstPlayer">
        {% for user in currentUsers %}
          <option value= {{ user }}>{{ user }}</option>
        {% endfor %}
      </select>
      <label for="secondPlayer">&emsp;<strong>Player 2: </strong></label>
      <select name="secondPlayer">
        {% for user in currentUsers %}
          <option value= {{ user }} >{{ user }}</option>
        {% endfor %}
      </select>
      <input type="submit" name="action" value="Submit"/>
    </form>
  </div>

{% endblock %}