{% extends "base.html" %}
{% block cssOverride %}<link rel="stylesheet" type="text/css" href="../static/css/custom.css">{% endblock %}
{% block title %}Main Dashboard{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <br/>
      {% for msg in messages %}
        <p class="sub-headers">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

<br/>

  {% if currentQueue|length == 0 %}
    <div>
      <p class="sub-headers center">There is no current match going on.</p> 
    <div>
  {% elif currentQueue|length > 0 %}
    <p class="sub-headers">Currently playing:</p>
    <div class="players-container">
      <form action="deleteEntryFromQueue" method="post"></form>
        <div class="players-list">
        <label><strong>First Player:&emsp;</strong></label>
        <input display="inline" class="player" type="text" value={{ currentQueue[0][0] }} name="username" readonly>
        <label><strong>&emsp;&emsp;Second Player:&emsp;</strong></label>
        <input display="inline" class="player" type="text" value={{ currentQueue[0][1] }} name="username" readonly>
        </div>
        <button type="submit">Game over, notify next players in queue</button>
      </form>
    </div>
    <br/>

  {% endif %}
  {% if currentQueue|length == 1 %}
    <p class="sub-headers">There is no current queue.</p>
  {% else %}
    <p class="sub-headers">Current Queue:</p>
    <div class="players-container">
    {% for i in range(1,currentQueue|length) %}
        <p>{{ currentQueue[i][0] }} vs. {{ currentQueue[i][1] }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <br/>
  <p class="sub-headers">Add the Match</p>
  <div class="players-container">
    <form action="{{url_for('main')}}" method="post">
      <label for="firstPlayer">Player 1: </label>
      <select name="firstPlayer">
        {% for user in currentUsers %}
          <option value= {{ user }}>{{ user }}</option>
        {% endfor %}
      </select>
      <label for="secondPlayer">Player 2: </label>
      <select name="secondPlayer">
        {% for user in currentUsers %}
          <option value= {{ user }} >{{ user }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit">
    </form>
  </div>

{% endblock %}