{% extends "base.html" %}
{% block title %}Signup Page{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <br/>
      {% for msg in messages %}
        <p class="sub-headers">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="container">
    <div class="row justify-content-center align-items-center" id= "responsiveContent" style="height:100vh">
        <div class="col-4">
            <div class="card" id="responsiveCard">
                <div class="card-body">
                    <h1>Create Account</h1>
                    <form action="signup" autocomplete="off" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" name="username">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name="email">
                        </div>
                        <button type="submit" id="sendlogin" class="btn btn-primary">Sign Up</button>
                    </form>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}