{% extends "base.html" %}
{% block title %}Signup Page{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action="signup" method="post">
    Enter Username : &nbsp;<input type="text" name="username" /><br>
    Enter Email : &nbsp;<input type="text" name="email" /><br>
  <input type="submit" value="Sign up">
  </form>
{% endblock %}